/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* CONFIGURAÇÃO DO PRIMEIRO BLOCO */
nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;
}

nav a {
    border-radius: 10px;
    padding: 25px;

    -webkit-box-flex: 1;

        -ms-flex-positive: 1;

            flex-grow: 1;
    text-align: center;
}



main {
    padding: 50px;
}

#titulo {
    text-align: center;
}

.detalhes {
    display: block;
}


/* CONFIGURAÇÃO DA MOBILIDADE DA PAGINA MEDIA */
@media screen and (max-width: 1000px) {
    /* configuração do tamanho dos titulos/textos */
    .tamanho-titulo-1 {
        font-size: 2em;
    }

    .tamanho-titulo-2 {
        font-size: 1.5em;
    }

    .tamanho-texto-1 {
        font-size: 1.2em;
    }

    .tamanho-texto-2 {
        font-size: 1.875em;
    }

    main {
        padding: 25px;
    }
}


/* CONFIGURAÇÃO DA MOBILIDADE DA PAGINA PEQUENA */
@media screen and (max-width: 600px) {
    /* configuração do tamanho dos titulos/textos */
    .tamanho-titulo-1 {
        font-size: 1.4em;
    }

    .tamanho-titulo-2 {
        font-size: 1.2em;
    }

    .tamanho-texto-1 {
        font-size: 1em;
    }

    .tamanho-texto-2 {
        font-size: 1.5em;
    }

    main {
        padding: 10px;
    }
}