/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* CONFIGURAÇÃO DO PRIMEIRO BLOCO */
nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;
}

nav a {
    border-radius: 10px;
    padding: 25px;

    -webkit-box-flex: 1;

        -ms-flex-positive: 1;

            flex-grow: 1;
    text-align: center;
}



/* CONFIGURAÇÃO DO SEGUNDO BLOCO */
#segundobloco {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 25px 40%;
    grid-template-columns: auto 40%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;  
}

#segundobloco p {
    text-align: center;
}

#segundobloco img {
    width: 100%;
}



/* CONFIGURAÇÃO DO TERCEIRO BLOCO */
#terceirobloco {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    gap: 25px;
}

#terceirobloco-bloco1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    gap: 25px;
}

.terceirobloco-bloco2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 125px 25px auto;
    grid-template-columns: 125px auto;
    gap: 25px;

    -webkit-box-align: center;

        -ms-flex-align: center;

            align-items: center;
}

.terceirobloco-bloco2 img {
    width: 100%;
}

.terceirobloco-bloco3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.terceirobloco-bloco3 h2, .terceirobloco-bloco3 p {
    margin: 0;
    padding: 0;
}



/* CONFIGURAÇÃO DO QUARTO BLOCO */
#quartobloco {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    gap: 25px;
}

#quartobloco-bloco1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 25px auto 25px auto 25px;
    grid-template-columns: auto auto auto;
    gap: 25px;
}

.quartobloco-bloco2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: 145px 25px auto;
    grid-template-rows: 145px auto;
    gap: 25px;
}

.quartobloco-bloco2 > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.quartobloco-bloco2 > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.quartobloco-bloco2 img {
    width: 125px;
    margin: 0 auto;
}

.quartobloco-bloco2 span {
    text-align: justify;
}



/* CONFIGURAÇÃO DA MOBILIDADE DA PAGINA MEDIA */
@media screen and (max-width: 1000px) {
    /* configuração do tamanho dos titulos/textos */
    .tamanho-titulo-1 {
        font-size: 2em;
    }

    .tamanho-titulo-2 {
        font-size: 1.2em;
    }

    .tamanho-texto-1 {
        font-size: 1.2em;
    }

    .tamanho-texto-2 {
        font-size: 1.875em;
    }



    /* CONFIGURAÇÃO DO SEGUNDO BLOCO */
    #segundobloco {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        gap: 25px;
    }
    
    #segundobloco p {
        width: 100%;
        margin: 0;
    }



    /* CONFIGURAÇÃO DO TERCEIRO BLOCO */
    .terceirobloco-bloco2 {
        -ms-grid-columns: 100px auto;
        grid-template-columns: 100px auto;
    }



    /* CONFIGURAÇÃO DO QUARTO BLOCO */
    #quartobloco-bloco1 {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .quartobloco-bloco2 {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: auto;
        grid-template-columns: auto;
        -ms-grid-rows: 115px 25px auto;
        grid-template-rows: 115px auto;
        gap: 25px;
    }

    .quartobloco-bloco2 > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .quartobloco-bloco2 > *:nth-child(2) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    
    .quartobloco-bloco2 img {
        width: 100px;
        margin: 0 auto;
    }

    .quartobloco-bloco2 span {
        width: 100%;
    }
}



/* CONFIGURAÇÃO DA MOBILIDADE DA PAGINA PEQUENA */
@media screen and (max-width: 600px) {
    /* configuração do tamanho dos titulos/textos */
    .tamanho-titulo-1 {
        font-size: 1.4em;
    }

    .tamanho-titulo-2 {
        font-size: 1em;
    }

    .tamanho-texto-1 {
        font-size: 1em;
    }

    .tamanho-texto-2 {
        font-size: 1.5em;
    }

    /* CONFIGURAÇÃO DO QUARTO BLOCO */
    .terceirobloco-bloco2 {
        -ms-grid-columns: 75px auto;
        grid-template-columns: 75px auto;
    }

    /* CONFIGURAÇÃO DO QUARTO BLOCO */
    #quartobloco-bloco1 {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .quartobloco-bloco2 {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: auto;
        grid-template-columns: auto;
        -ms-grid-rows: 86px 25px auto;
        grid-template-rows: 86px auto;
        gap: 25px;
    }
    .quartobloco-bloco2 > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .quartobloco-bloco2 > *:nth-child(2) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    
    .quartobloco-bloco2 img {
        width: 75px;
        margin: 0 auto;
    }
}