/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*
* Realizado dia 16 de dezembro de 2022
*
*/

/* CONFIGURAÇÃO DO PRIMEIRO BLOCO */
nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;
}

nav a {
    border-radius: 10px;
    padding: 25px;

    flex-grow: 1;
}



/* CONFIGURAÇÃO DO SEGUNDO BLOCO */
#segundobloco {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    gap: 25px;
}

/* container do grupo */
#segundobloco-bloco1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 25px auto 25px auto;
    grid-template-columns: auto auto auto;
    gap: 25px;
}

/* container individual */
.segundobloco-bloco2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    gap: 25px;

    padding: 0 15px 15px 15px;
    border-radius: 10px;
    border: 1px solid #fcde67;
}

/* configuração da imagem e descricao */
.segundobloco-bloco2 img {
    width: 100%;
}



/* CONFIGURAÇÃO DO TERCEIRO BLOCO */
#terceirobloco {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    gap: 25px;
}

#terceirobloco p {
    text-align: justify;
}

/* container do grupo */
#terceirobloco-bloco1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

/* container individual */
.terceirobloco-bloco2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    gap: 25px;

    padding: 0 15px 15px 15px;
    border-radius: 10px;
    border: 1px solid #fcde67;
}

/* configuração da imagem e descricao */
.terceirobloco-bloco2 h2 {
    text-align: justify;
}

.terceirobloco-bloco2 img {
    width: 100%;
}

.terceirobloco-bloco2 span {
    text-align: justify;
}



/* CONFIGURAÇÃO DA MOBILIDADE DA PAGINA MEDIA */
@media screen and (max-width: 1000px) {
    /* configuração do tamanho dos titulos/textos */
    .tamanho-titulo-1 {
        font-size: 2em;
    }

    .tamanho-titulo-2 {
        font-size: 1.2em;
    }

    .tamanho-texto-1 {
        font-size: 1.2em;
    }

    .tamanho-texto-2 {
        font-size: 1.875em;
    }



    /* CONFIGURAÇÃO DOS BLOCOS */
    #segundobloco-bloco1 {
        -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    }

    #terceirobloco-bloco1 {
        -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    }
}



/* CONFIGURAÇÃO DA MOBILIDADE DA PAGINA PEQUENA */
@media screen and (max-width: 600px) {
    /* configuração do tamanho dos titulos/textos */
    .tamanho-titulo-1 {
        font-size: 1.4em;
    }

    .tamanho-titulo-2 {
        font-size: 1em;
    }

    .tamanho-texto-1 {
        font-size: 1em;
    }

    .tamanho-texto-2 {
        font-size: 1.5em;
    }



    /* CONFIGURAÇÃO DOS BLOCOS */
    #segundobloco-bloco1 {
        -ms-grid-columns: auto;
        grid-template-columns: auto;
    }

    #terceirobloco-bloco1 {
        -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    }
}